/* Footer */
.footer {
  background-color: #a52a2a;
  height: 70px;
  position: relative;
  width: 100%;
  color: #FFFF00;
  text-align: center;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}